In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("train.csv")

In [4]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0

In [5]:
df.shape

(404290, 6)

In [6]:
df=df.sample(30000)

In [7]:
df=df.dropna()

In [8]:
ques_df=df[['question1','question2']]
ques_df.head()

,question1,question2
250681,Where can you find the routing number on a Ban...,How to identify the routing number in a check ...
98644,What are the differences between the words rej...,What is the difference between these words (re...
45429,Where can I find Harry Potter books to downloa...,Where can I download free Harry Potter books i...
322836,"What is the different between ""as follows"" and...",What is the difference between no follow and d...
347056,What are some of the foods that I should eat t...,What foods can I eat to improve my eyesight?

In [9]:
df.shape

(30000, 6)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
questions=list(ques_df['question1'])+list(ques_df['question2'])

cv=CountVectorizer(max_features=3000)
q1_arr,q2_arr=np.vsplit(cv.fit_transform(questions).toarray(),2)

In [11]:
temp_df1=pd.DataFrame(q1_arr,index=ques_df.index)
temp_df2=pd.DataFrame(q2_arr,index=ques_df.index)
temp_df=pd.concat([temp_df1,temp_df2],axis=1)
temp_df.shape

(30000, 6000)

In [12]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
250681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98644,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45429,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
322836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
347056,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66537,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
287395,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
205734,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
285870,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
133145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [13]:
temp_df['is_duplicate']=df['is_duplicate']

In [14]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
250681,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
98644,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
45429,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
322836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
347056,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=42)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred=rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7363333333333333

In [19]:
pip install xgboost

Collecting xgboost
  Using cached xgboost-1.7.6-py3-none-macosx_12_0_arm64.whl (1.6 MB)
Requirement already satisfied: scipy in /Users/nikhilbhalerao/anaconda3/lib/python3.10/site-packages (from xgboost) (1.10.0)
Requirement already satisfied: numpy in /Users/nikhilbhalerao/anaconda3/lib/python3.10/site-packages (from xgboost) (1.23.5)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.6
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from xgboost import XGBClassifier
xgb=XGBClassifier()
xgb.fit(X_train,y_train)
y_pred=xgb.predict(X_test)
accuracy_score(y_tes,y_pred)